*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 40vh 50vh 10vh;
    grid-template-areas: "header" "content" "footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
}

.bullfrog-link {
    margin-top: 30px;
}

.footer {
    grid-area: footer;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }

    .logo {
        font-size: 1.2em;
    }

    .content {
        font-size: 1.2em;
    }

    .bullfrog-link {
        margin-top: 0px;
    }

    .footer {
        align-items: center;
    }
}